@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,700;0,800;1,100;1,400;1,700;1,800&display=swap');
@import url(/css_one/nullstyle.css);

*, *::before,*::after{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1;
    height: 100%;
    width: 100%;
}
@media (max-width: 1080px){
    .header-bar {
        display: flex;
        flex-direction: row;
        align-items: center;
        row-gap: 15px;
        padding: 0 100px;
    }
    .header-bar-content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        row-gap: 10px;
    }
}
@media (max-width: 991px){
    .header-bar {
        display: flex;
        flex-direction: column;
    }
    .main-row-item-block:hover {
        box-shadow: 0 0 10px #2F86DE;
        transition-duration: 0.6s;
    }
}
@media (max-width: 768px){
    .header-bar-content {
        display: flex;
        flex-direction: column;
    }
    .header-description-what-is-get-help {
        display: flex;
        flex-direction: column;
        flex-grow: 0;
        flex-shrink: 0;
    }
    .footer-contact-information-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 5px;
        .footer-contact-information-title {
            font-size: 15px;
        }
    }
}
.wrapper {
    min-height: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.header {
    .header-bar {
        display: flex;
        justify-content: space-between;
        padding: 15px 150px;
        background-color: #2B2F34;
        color: white;
        .header-bar-logo-name {
            text-transform: uppercase;
            font-size: 18px;
        }
        .header-bar-content {
            display: flex;
            align-items: center;
            column-gap: 40px;
            a {
                color: #FFFFFF;
            }
            a:hover {
                color: lightgray;
                text-decoration: underline;
            }
        }
    }
    .header-description {
        .header-description-container {
            display: flex;
            justify-content: center;
            padding: 10px 0;
            background-image: url(flag.jpeg);
            background-size: 100%;
            background-position: center;
        }
        .header-description-what-is-get-help {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            flex-shrink: 1;
            margin: 0 280px;
            padding: 15px 10px;
            max-width: 800px;
            background-color: rgb(236, 247, 252);
            border-radius: 8px;
            transition-duration: 1s;
            transition-delay: 3ms;
            transition-timing-function: ease-out;
            .header-description-what-is-get-help-title {
                font-weight: bold;
                text-transform: uppercase;
                padding: 0 0 15px 0;
            }
            .header-description-what-is-get-help-text {
                p {
                    padding: 0 0 8px 0;
                }
            }
            &:hover {
                margin: 0 300px;
                transition-duration: 1s;
                transition-delay: 3ms;
                transition-timing-function: ease-out;
            }
        }
    }
}
.main{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1 1 auto;
    background: linear-gradient(1.41deg, rgba(75, 149, 217, 0.238) 1.48%, rgba(244, 244, 244, 0) 121.22%);
    padding: 10px 150px;
    .main-title-name{
        font-weight: bold;
        font-size: 18px;
        padding: 10px 0;
    }
    .main-row {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 20px;
        row-gap: 10px;
        margin: 0 0 10px 0;
    }
    .main-row-item-block {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-grow: 1;
        padding: 10px;
        background-color: white;
        max-width: 280px;
        border-radius: 5px;
        transition-duration: 1s;
        transition-delay: 3ms;
        div {
            padding: 5px 0;
        }
        .main-row-item-block-image {
            img {
                height: 260px;
                object-fit: fill;
                display: flex;
                flex-shrink: 1;
                flex-grow: 1;
            }
            display: flex;
            //flex-shrink: 1;
            //flex-grow: 1;
        }
        .main-row-item-block-title{
            font-weight: bold;
        }
        .main-row-item-block-description {
            flex: 1 1 auto;
        }
        .main-row-item-block-button {
            a {
            display: flex;
            justify-content: center;
            background-color: #2F86DE;
            border-radius: 5px;
            color: white;
            text-transform: uppercase;
            padding: 8px;
            font-style: 18px;
            line-height: 24px;
            transition-duration: 0.9s;
            }
            a:hover {
                box-shadow: 0 0 5px #2467aa;
                transition-duration: 0.9s;
                padding: 10px;
                color: rgb(248, 248, 53);
            }
            a:active {
                position: relative;
                top: 3px;
                transition-duration: 0ms;
                box-shadow: 0 0 10px rgb(248, 248, 53);
            }
        }
        &:hover {
            box-shadow: 0 0 10px #2F86DE;
            transition-duration: 0.6s;
            position: relative;
            bottom: 3px;
        }
    }
}
footer {
    background-color: #2B2F34;
    color: white;
    .footer-contact-information-container {
        padding: 15px 150px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .footer-contact-information-title {
        text-transform: uppercase;
        font-size: 18px;
    }
    .footer-contact-information-links-social-media {
        column-gap: 16px;
        transition-duration: 4ms;
        transition-delay: 3ms;
        a {
            font-size: 6px;
            color: white;
            &:hover {
            text-decoration: underline;
            font-size: 12px;
            transition-duration: 4ms;
            transition-delay: 3ms;
            }
        }
    }
    .footer-contact-information-number-email {
        font-size: 6px;
        p {
            padding: 2px 0;
        }
    }
}
